<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.my.dao.KeywordMapper">
 
    <select id="selectKeywordCount" resultType="int">
    	/* for test */
    	select count(*) 
    	from MY_KEYWORD
    </select>
    
    <select id="selectKeywordInvalidDataCount" resultType="int">
    	/* for test */
    	select count(*) 
    	from MY_KEYWORD_REL 
    	where cnt <![CDATA[<]]> 0
    </select>
    
    <select id="selectLastUpdatedData" parameterType = "java.util.HashMap" resultType="java.util.HashMap">
    	/* for test */
    	select keyword AS KEYWORD, 
    			reg_date AS REG_DATE,
    			date_seq AS SEQ
    	from MY_KEYWORD
    	where reg_date = #{reg_date} 
    			and date_seq = #{date_seq}
    </select>
    
    <select id="selectKeywordsCntForLastSevenDays" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	    select * from (
			SELECT KEYWORD AS KEYWORD, COUNT(*) AS CNT
			FROM MY_KEYWORD
			WHERE REG_DATE BETWEEN #{date_from} AND #{date_to}
			GROUP BY KEYWORD
			UNION
			SELECT KEYWORD AS KEYWORD, COUNT(*) AS CNT
			FROM MY_KEYWORD
			WHERE REG_DATE = #{first_date} AND DATE_SEQ <![CDATA[>=]]> #{curr_dateseq}
			GROUP BY KEYWORD 
			UNION
			SELECT KEYWORD AS KEYWORD, COUNT(*) AS CNT
			FROM MY_KEYWORD
			WHERE REG_DATE = #{last_date} AND DATE_SEQ <![CDATA[<]]> #{curr_dateseq}
			GROUP BY KEYWORD
		) t order by KEYWORD ASC
    </select>
    
    <select id="selectKeywordsRelData" resultType="java.util.HashMap">
    	SELECT KEY_ONE AS KEY_ONE,
    			KEY_TWO AS KEY_TWO,
    			CNT AS CNT
    	FROM MY_KEYWORD_REL
    	WHERE CNT > 0
    	ORDER BY KEY_ONE ASC
    </select>
    
    
</mapper>